<div>
    <label>Team name:
      <input #teamName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(teamName.value); teamName.value=''">
      add
    </button>
</div>
<div class="team-card" *ngIf="team">
    <div class="team-title">
        {{teamIndex + 1 + ' - ' + team.name}}
    </div>
    <img width="300" [src]="team.imageURL" alt="" *ngIf="team.imageURL">
    <div class="team-description">
        {{team.country}}
    </div>
</div>
<hr>
<br>
